@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* imports fonts used by the website from google fonts*/

:root {
  --blue: #59bab6;
  --green: #98ca41;
  --darkblue: #253251;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  
  font-size: 14pt; /* default font size */
  position: relative;
  margin-bottom: 140px;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  width: 100%;
  display: flex;
  flex: 1;
}

