.admin-landing-column {
	width: 40%;
	height: 100%;

	display: inline-block;

	text-align: center;

	margin: 30px;
}

.admin-content a {
	width: 50%;
	background-color: var(--green);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    text-decoration: none;
    cursor: pointer;

	display: inline-block;
	text-align: center;

	margin: 10px;
}