.fancy-spinner {
    display: flex;
    justify-content: center;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 5rem;
    height: 5rem;
  
    div {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  
      &.ring {
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent;
        animation: 2s fancy infinite alternate;
        
        &:nth-child(1) {
          border-left-color: var(--green);
          border-right-color: var(--green);
        }
        &:nth-child(2) {
          border-top-color: var(--green);
          border-bottom-color: var(--green);
          animation-delay: 1s;
        }
      }
  
      &.dot {
        width: 1rem;
        height: 1rem;
        background: var(--green);
      }
    }
  }
  
  @keyframes fancy {
    to {
      transform: rotate(360deg) scale(0.5);
    }
  }
  