
.staff_management_button{
    background-color:#d3eaab;
    width:11rem;
    height:2rem;
    border-radius:1rem;
    margin-top:15px;
    margin-right:-83%;
    font-weight: bold;
    border-color:#253251;
}

/* failed attempt at putting the export data button on there? */
.export_data {
    background-color:#98CA41;
    width:11rem;
    height:2rem;
    border-radius:1rem;
    margin-top:40px;
    margin-right:-83%;
    font-weight: bold;
    border-color:#253251;
}