body {
	text-align: center;
	min-height: 100vh;
	height: 100%;
}

#page {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0px;
}

h3 {
	margin-bottom: 50px;
}

#topbar {
	position: relative;
	width: 100%;
	min-height: 140px;
	height: 140px;
	margin-bottom: -6%;

}

#topbar img {
	background-color: white;
	border-radius: 10px;
}